<!DOCTYPE html>
<html lang="pl">
    
<head>
    <meta charset="utf-8"/>
    <title>Słodziaki</title>
    <meta name="description" content="Twoja codzienna dawka zdjęć słodkich zwierząt"/>
    <meta name="keywords" content="psy, pieski, kot, kotki, słodkie, slodkie, fajne"/>
    <meta name="author" content="Wiktor Szewczyk"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/fontello.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Itim&family=Sriracha&display=swap" rel="stylesheet">


</head>
    
<body>
    <div id="container">
        <div id="logo">
            <h1>Słodziaki</h1>
        </div>
        <div id="nav">
            <a href="strona" class="navlink"> Strona główna </a> &nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;
            <a href="zdjecia-psow" class="navlink"> Psy </a> &nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp;
            <a href="zdjecia-kotow" class="navlink"> Koty </a>
            &nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp; 
            <a href="zdjecia-zwierzat" class="navlink"> Inne zwierzęta </a>
            &nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp; 
            <a href="kontakt-i-wspolpraca" class="navlink"> Kontakt Współpraca </a> 
            &nbsp;&nbsp;&nbsp;&diams;&nbsp;&nbsp;&nbsp; 
            <a href="polecane-strony" class="navlink"> Polecane strony </a>
        </div>
        <div id="content">
            Dzisiejsze Top 10 zdjęć Kotów:
            
        </div>
        <div id="ad">
            <div id="blok1"> 
                <a href="https://schronisko.com/adopcje/" class="stronylink" target="_blank"><i class="icon-guidedog"></i><br/><br/>Zaadoptuj, nie kupuj!</a>
            </div>
            
            <div id="blok2">
                <a href="https://www.ratujemyzwierzaki.pl/zbiorki" class="stronylink" target="_blank"><i class="icon-dollar"></i><br/><br/>Wpłać darowiznę</a>
            </div>
            
            <div id="yt">
                <a href="https://youtube.com" target="_blank" class="sociallink"><i class="icon-youtube-play"></i></a>
            </div>
            
            <div id="fb">
                <a href="https://facebook.com" target="_blank" class="sociallink"><i class="icon-facebook-squared"></i></a>
            </div> 
        </div>
        <div id="footer">
            Słodziaki - your daily dose of cuteness &copy; Wszelkie prawa zastrzeżone
        </div>
    </div>
</body>
    
</html>