
.icon-dollar:before { content: '\e800'; } /* '' */
.icon-guidedog:before { content: '\e801'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */